section {
  display: flex;
  flex-wrap: wrap;

  & .col {
    flex-grow: 1;
    padding: 2em;
    width: 25%;

    & img {
      border: 2px green solid;
      max-width: 100%;
    }
  }
}

@media (min-width: 600px) {
  section .col {
    width: 10%;
  }
}