body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  position: relative;
}

.dog-navigation > div {
  text-align: center;
}

.drop-down-zone {
  padding-bottom: 2em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.col-thirds {
  flex-grow: 1;
  width: 30%;
}

.col {
  flex-grow: 1;
  padding: 2em;
  width: 25%;

  & img {
    width: 100%;
    max-width: 100px;
  }
}

.modal.open {
  align-items: center;
  background-color: rgba(66,66,66,0.7);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  & img {
    max-height: 100%;
    max-width: 100;
    height: auto;
    width: auto;
  }
}

@media (max-width: 500px) {
  .dog-navigation.flex-container {
    flex-direction: column;
    align-items: center;

    & .col-thirds {
      width: 90%;
    }

    & button.col-thirds {
      max-width: 8em;
    }

    & > * {
      margin: 0.5em 0;
    }
  }
}

@media (min-width: 600px) {
  .dog-thumbnails .col {
    width: 10%;
  }
}